$black_color: black;
$white_color: white;
$main_font_1: 'Inter', sans-serif;
$main_font_2: 'Readex Pro', sans-serif;

@mixin flex_between{
  display: flex;
  justify-content: space-between;
}

footer{
  background: #F8F9FA;
  border-top:  1px solid #DCE5E2;
  .container{
    @include flex_between;
    padding: 44px 0 78px;
  }
  p{
    font-family: $main_font_1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black_color;
    padding-top: 18px;
  }
  .footer_menu{
    display: flex;
    align-items: flex-start;
  }
  ul{
    margin-right: 100px;
    list-style: none;

    li{
      font-family: $main_font_2;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: $black_color;
      margin-bottom: 19px;
      a{
        font-family: $main_font_1;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: $black_color;
        margin-bottom: 14px;
        text-decoration: none;
      }
    }
  }
  .footer_end{
    max-width: 1350px;
    margin: auto;
    padding-bottom: 20px;
    border-top: 1px solid #DCE5E2;
    .footer_end_flex{
      max-width: 1294px;
      margin: auto;
      @include flex_between;
      padding-top: 52px;
    }
    span{
      font-family: $main_font_2;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black_color;
    }
    a{
      font-family: $main_font_1;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black_color;
      text-decoration: none;
      img{
        position: relative;
        top: 4px;
      }
    }
  }
}