$black_color: black;
$white_color: white;
$main_font_1: 'Inter', sans-serif;
$main_font_2: 'Readex Pro', sans-serif;

@mixin flex_between{
  display: flex;
  justify-content: space-between;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

footer{
  background: #F8F9FA;
  border-top:  1px solid #DCE5E2;
  .container{
    @include flex_between;
    padding: 44px 0 78px;
    @include max-screen(776px) {
      display: block;
    }
    @include max-screen(1305px) {
      padding: 44px 12px 78px 12px;
    }
  }
  .footer_adapt{
    @include max-screen(776px) {
      text-align: center;
    }
  }
.footer_logo{
  @include max-screen(580px) {
    width: 130px;
    height: 16px;
  }
}
  p{
    font-family: $main_font_1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black_color;
    padding-top: 18px;
    @include max-screen(776px) {
      font-size: 12px;
      padding-bottom: 20px;
    }
    @include max-screen(580px) {
      font-size: 10px;
    }
  }
  .footer_menu{
    display: flex;
    align-items: flex-start;
    @include max-screen(776px) {
      flex-wrap: wrap;
      justify-content: space-around;

    }
  }
  ul{
    margin-right: 100px;
    list-style: none;
    @include max-screen(1305px) {
      margin-right: 50px;
    }
    @include max-screen(776px) {
      margin-right: 20px;
    }
    li{
      font-family: $main_font_2;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: $black_color;
      margin-bottom: 19px;
      @include max-screen(776px) {
        font-size: 16px;
        margin-bottom: 0;
        &:first-of-type{
          padding-top: 20px;
        }
      }
      a{
        font-family: $main_font_1;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: $black_color;
        margin-bottom: 14px;
        text-decoration: none;
        @include max-screen(776px) {
          font-size: 11px;

        }
      }
    }
  }
  .footer_end{
    max-width: 1350px;
    margin: auto;
    padding-bottom: 20px;
    border-top: 1px solid #DCE5E2;
    .footer_end_flex{
      max-width: 1294px;
      margin: auto;
      @include flex_between;
      padding-top: 52px;
      @include max-screen(1305px) {
        padding: 52px 12px;
      }
    }
    span{
      font-family: $main_font_2;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black_color;
      @include max-screen(441px) {
        font-size: 12px;
      }
    }
    a{
      font-family: $main_font_1;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black_color;
      text-decoration: none;
      @include max-screen(441px) {
        font-size: 12px;
      }
      img{
        position: relative;
        top: 4px;
        @include max-screen(441px) {
          display: none;
        }
      }
    }
  }
}