$black_color: black;
$white_color: white;
$main_font_1: 'Inter', sans-serif;

@mixin flex_between{
  display: flex;
  justify-content: space-between;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.container{
  max-width: 1294px;
  margin: auto;
}
header{
  padding: 30px 0 60px;
  background-color: $white_color;
  .container{
    @include flex_between;
    align-items: center;
  }
  .header_logo{
    @include max-screen(1305px) {
      padding-left: 20px;
    }
    @include max-screen(767px) {
      position: absolute;
      left: calc(50% - 78px);
      top: 30px;
      padding-left: 0;
    }
    @include max-screen(434px) {
      width: 130px;
      height: 16px;
      top: 34px;
      padding-left: 11px;
    }
  }
  .nav{
    .menu_list{
      list-style: none;
      display: flex;
      @include max-screen(767px) {
        display: block;
        text-align: center;
        padding-right: 0;
      }
      li{
        margin-left: 40px;
        @include max-screen(767px) {
          margin-left: 0;
        }
        &:first-of-type{
        margin-left: 0;
          @include max-screen(767px) {
            margin-top: 70px;
          }
      }
        &:hover .hover_menu{
          display: block;
          @include max-screen(767px) {
            display: none;
          }
        }
        .hover_menu{
          flex-direction: column;
          position: absolute;
          display: none;

          li{
            margin-left: 0;
            margin-top: 14px;

          }
        }
      a{
        font-family: $main_font_1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $black_color;
        text-decoration: none;

      }
        img{
          margin-left: 4px;
          @include max-screen(767px) {
            display: none;
          }
        }
      }
    }
  }
  ul{
    list-style: none;
    display: flex;
    @include max-screen(767px) {
      padding-right: 20px;
    }
    li{
      margin-left: 27px;
      @include max-screen(434px) {
        margin-left: 10px;
      }
      &:first-of-type{
        margin-left: 0;
      }
      &:last-of-type{
        padding-right: 20px;
        @include max-screen(767px) {
          padding-right: 0;
        }
      }
    }
  }

}

