$black_color: black;
$white_color: white;
$main_font_1: 'Inter', sans-serif;
$main_font_2: 'Readex Pro', sans-serif;
$box_shadow: 0 0 20px #c5c5c5;

@mixin flex_between{
  display: flex;
  justify-content: space-between;
}
@mixin flex_column{
  display: flex;
  flex-direction: column;
}
@mixin main_article{
  font-family: $main_font_2;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: $black_color;
  padding-bottom: 9px;
}
@mixin main_text{
  font-family: $main_font_2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $black_color;
  padding-bottom: 55px;
}
@mixin image_span{
  font-family: $main_font_1;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: $black_color;
}
@mixin image_h5{
  font-family: $main_font_2;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: $black_color;
}
@mixin image_size{
  width: 312px;
  height: 759px;
  box-shadow: $box_shadow;
  transition-duration: 0.5s;
  position: relative;
  top: 0;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.shop_categories{
  padding: 75px 0 100px;
  background-color: $white_color;
  .container{
    @include max-screen(767px) {
      padding: 0;
    }
  }
  article{
    h2{
      @include main_article;
      @include max-screen(894px) {
        font-size: 32px;
        line-height: 32px;
      }
    }
    p{
      @include main_text;
      @include max-screen(894px) {
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
  .container_flex{
    @include flex_between;
    @include max-screen(1305px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .column {
    @include max-screen(1305px) {
      display: block;
    }
    .art_laptop{
      @include image_size;
      width: 639px;
      height: 472px;
      margin-bottom: 16px;
      @include max-screen(894px) {
        max-width: 639px;
        min-height: 472px;
      }
      @include max-screen(652px) {
        width: 312px;
        height: 759px;
      }
      @include max-screen(324px) {
        width: 280px;
        height: 600px;
        margin: auto;
      }
      &:hover{
        top: 10px;
      }
      img{
        position: relative;
        left: 42px;
        @include max-screen(652px) {
          width: 312px;
          height: 252px;
          left: 0;
          top: 0;
        }
        @include max-screen(324px) {
          width: 280px;
          height: 228px;
        }
      }
      span{
        @include image_span;
        padding-left: 35px;
        @include max-screen(652px) {
          text-align: center;
          padding: 60px 0 20px;
          display: block;
        }
      }
      h5{
        @include image_h5;
        padding-right: 42px;
        @include max-screen(652px) {
          text-align: center;
          padding: 0 0;
        }
      }
    }
    .art_watch{
      @include image_size;
      width: 639px;
      height: 270px;
      display: flex;
      @include max-screen(652px) {
        width: 312px;
        height: 759px;
        display: block;
      }
      @include max-screen(324px) {
        width: 280px;
        height: 600px;
        margin: auto;
      }
      &:hover{
        position: relative;
        top: 10px;
      }
      img{
        position: relative;
        left: 42px;
        @include max-screen(652px) {
          width: 312px;
          height: 252px;
          left: 0;
          top: 0;
        }
        @include max-screen(324px) {
          width: 280px;
          height: 228px;
        }
      }
      .watch_text{
        @include flex_column;
        padding-left: 36px;
        @include max-screen(652px) {
          display: block;
          padding-left: 0;
        }
        span{
          @include image_span;
          padding-left: 135px;
          padding-top: 98px;
          @include max-screen(652px) {
            text-align: center;
            padding: 60px 0 20px;
            display: block;
          }
        }
        h5{
          @include image_h5;
          @include max-screen(652px) {
            text-align: center;
            padding: 0 0;
          }
        }
      }
    }
    }
  .art_phones{
    @include image_size;
    @include max-screen(1305px) {
      top: 16px;
      @include max-screen(324px) {
        width: 280px;
        height: 600px;
        margin: auto;
      }
    }
    &:hover{
      position: relative;
      top: 10px;

    }
    img{
      position: relative;
      left: 16px;
      top: 140px;
      @include max-screen(324px) {
        width: 280px;
        height: 228px;
        left: 0;
      }
    }
    .phones_text{
      @include flex_column;
         margin-top: 177px;

      span{
        @include image_span;
        text-align: center;
      }
      h5{
        @include image_h5;
        text-align: center;
      }
    }
  }
  .art_tablet{
    @include image_size;
    @include max-screen(1305px) {
      top: 29px;
    }
    @include max-screen(324px) {
      width: 280px;
      height: 600px;
      margin: auto;
    }
    &:hover{
      position: relative;
      top: 10px;
    }
    img{
      position: relative;
      top: 38px;
      @include max-screen(324px) {
        width: 280px;
        height: 228px;
      }
    }
    .tablet_text{
      @include flex_column;
      margin-top: 114px;

      span{
        @include image_span;
        text-align: center;
      }
      h5{
        @include image_h5;
        text-align: center;
      }
    }
  }
  }
