$black_color: black;
$white_color: white;
$main_font_1: 'Inter', sans-serif;
$main_font_2: 'Readex Pro', sans-serif;

@mixin flex_between{
  display: flex;
  justify-content: space-between;
}
@mixin main_article{
  font-family: $main_font_2;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: $black_color;
  padding-bottom: 9px;
}
@mixin main_text{
  font-family: $main_font_2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $black_color;
  padding-bottom: 55px;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.best{
  h3{
    @include main_article;
    @include max-screen(767px) {
      font-size: 28px;
      line-height: 40px;
    }
  }
  p{
    @include main_text;
    @include max-screen(767px) {
      padding-bottom: 10px;
      font-size: 12px;
    }
  }
  .container_flex{
    @include flex_between;
    @include max-screen(1305px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
  }
  article{
    background: #F8F9FA;
    width: 413px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @include max-screen(1305px) {
      margin: 12px 0;
    }
    h5{
      @include main_text;
      padding-top: 41px;
      padding-bottom: 0;
      @include max-screen(767px) {
        font-size: 12px;
      }
    }
    h4{
      font-family: $main_font_2;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: $black_color;
      padding-bottom: 44px;
      @include max-screen(767px) {
        font-size: 25px;
      }
    }
    a{
      font-family: $main_font_1;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      text-transform: capitalize;
      color: $black_color;
      border: 1px solid $black_color;
      border-radius: 200px;
      padding: 14px 63px;
      @include max-screen(767px) {
        font-size: 16px;
      }
    }
    img{
      padding-top: 44px;
      @include max-screen(767px) {
        width: 100%;
        display: block;
      }
    }
  }
}
