@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 71px;
  overflow: visible;
  position: absolute;
  z-index: 6;
  display: none; }
  @media screen and (max-width: 767px) {
    #burger-menu {
      display: block; } }
  #burger-menu span, #burger-menu span:before, #burger-menu span:after {
    background: black;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out; }
  #burger-menu span {
    right: 0;
    top: 13px;
    width: 35px; }
    #burger-menu span:before {
      content: "";
      left: 0;
      top: -10px;
      width: 35px; }
    #burger-menu span:after {
      content: "";
      left: 0;
      top: 10px;
      width: 35px; }

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px; }
  #burger-menu.close span:before {
    top: 0;
    transform: rotate(90deg);
    width: 27px; }
  #burger-menu.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0; }

.container {
  max-width: 1294px;
  margin: auto; }

header {
  padding: 30px 0 60px;
  background-color: white; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media screen and (max-width: 767px) {
    header .header_logo {
      position: absolute;
      left: calc(50% - 40px);
      top: 30px; } }
  header .nav .menu_list {
    list-style: none;
    display: flex; }
    @media screen and (max-width: 767px) {
      header .nav .menu_list {
        display: block;
        text-align: center; } }
    header .nav .menu_list li {
      margin-left: 40px; }
      @media screen and (max-width: 767px) {
        header .nav .menu_list li {
          margin-left: 0; } }
      header .nav .menu_list li:first-of-type {
        margin-left: 0; }
        @media screen and (max-width: 767px) {
          header .nav .menu_list li:first-of-type {
            margin-top: 70px; } }
      header .nav .menu_list li:hover .hover_menu {
        display: block; }
        @media screen and (max-width: 767px) {
          header .nav .menu_list li:hover .hover_menu {
            display: none; } }
      header .nav .menu_list li .hover_menu {
        flex-direction: column;
        position: absolute;
        display: none; }
        header .nav .menu_list li .hover_menu li {
          margin-left: 0;
          margin-top: 14px; }
      header .nav .menu_list li a {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: black;
        text-decoration: none; }
      header .nav .menu_list li img {
        margin-left: 4px; }
        @media screen and (max-width: 767px) {
          header .nav .menu_list li img {
            display: none; } }
  header ul {
    list-style: none;
    display: flex; }
    header ul li {
      margin-left: 27px; }
      header ul li:first-of-type {
        margin-left: 0; }
      header ul li:last-of-type {
        padding-right: 20px; }
        @media screen and (max-width: 767px) {
          header ul li:last-of-type {
            padding-right: 0; } }

.main_banner {
  background: #DCE5E2;
  border-radius: 32px;
  max-width: 1294px;
  margin: auto; }
  .main_banner .container {
    display: flex;
    justify-content: space-between; }
  .main_banner article {
    padding-top: 145px;
    padding-left: 56px;
    max-width: 588px; }
    .main_banner article h1 {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 55px;
      line-height: 70px;
      color: black; }
    .main_banner article p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: black;
      padding-top: 19px;
      padding-bottom: 44px; }
    .main_banner article a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: black;
      border: 1px solid black;
      border-radius: 200px;
      padding: 14px 53px; }
  .main_banner img {
    display: block;
    max-width: 100%; }

.owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  bottom: 270px; }

.owl-nav .owl-prev:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: black;
  font-size: 30px; }

.owl-nav .owl-next {
  position: absolute;
  left: 1250px;
  bottom: 270px; }

.owl-nav .owl-next:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: black;
  font-size: 30px;
  transform: rotate(180deg);
  display: inline-block; }

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 11px;
  display: flex;
  justify-content: center; }
  .owl-dots span {
    display: inline-block;
    width: 194px;
    height: 2px;
    background: black;
    border-radius: 0;
    margin-right: 34px; }
  .owl-dots .active span {
    display: inline-block;
    width: 194px;
    height: 2px;
    background: grey;
    border-radius: 0; }

.shop_categories {
  padding: 75px 0 100px;
  background-color: white; }
  .shop_categories article h2 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black;
    padding-bottom: 9px; }
  .shop_categories article p {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    padding-bottom: 55px; }
  .shop_categories .container_flex {
    display: flex;
    justify-content: space-between; }
  .shop_categories .column .art_laptop {
    width: 312px;
    height: 759px;
    box-shadow: 0 0 20px #c5c5c5;
    transition-duration: 0.5s;
    position: relative;
    top: 0;
    width: 639px;
    height: 472px;
    margin-bottom: 16px; }
    .shop_categories .column .art_laptop:hover {
      top: 10px; }
    .shop_categories .column .art_laptop img {
      position: relative;
      left: 42px; }
    .shop_categories .column .art_laptop span {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: right;
      color: black;
      padding-left: 35px; }
    .shop_categories .column .art_laptop h5 {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: right;
      color: black;
      padding-right: 42px; }
  .shop_categories .column .art_watch {
    width: 312px;
    height: 759px;
    box-shadow: 0 0 20px #c5c5c5;
    transition-duration: 0.5s;
    position: relative;
    top: 0;
    width: 639px;
    height: 270px;
    display: flex; }
    .shop_categories .column .art_watch:hover {
      position: relative;
      top: 10px; }
    .shop_categories .column .art_watch img {
      position: relative;
      left: 42px; }
    .shop_categories .column .art_watch .watch_text {
      display: flex;
      flex-direction: column;
      padding-left: 36px; }
      .shop_categories .column .art_watch .watch_text span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        color: black;
        padding-left: 135px;
        padding-top: 98px; }
      .shop_categories .column .art_watch .watch_text h5 {
        font-family: "Readex Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: black; }
  .shop_categories .art_phones {
    width: 312px;
    height: 759px;
    box-shadow: 0 0 20px #c5c5c5;
    transition-duration: 0.5s;
    position: relative;
    top: 0; }
    .shop_categories .art_phones:hover {
      position: relative;
      top: 10px; }
    .shop_categories .art_phones img {
      position: relative;
      left: 16px;
      top: 140px; }
    .shop_categories .art_phones .phones_text {
      display: flex;
      flex-direction: column;
      margin-top: 177px; }
      .shop_categories .art_phones .phones_text span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        color: black;
        text-align: center; }
      .shop_categories .art_phones .phones_text h5 {
        font-family: "Readex Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: black;
        text-align: center; }
  .shop_categories .art_tablet {
    width: 312px;
    height: 759px;
    box-shadow: 0 0 20px #c5c5c5;
    transition-duration: 0.5s;
    position: relative;
    top: 0; }
    .shop_categories .art_tablet:hover {
      position: relative;
      top: 10px; }
    .shop_categories .art_tablet img {
      position: relative;
      top: 38px; }
    .shop_categories .art_tablet .tablet_text {
      display: flex;
      flex-direction: column;
      margin-top: 114px; }
      .shop_categories .art_tablet .tablet_text span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        color: black;
        text-align: center; }
      .shop_categories .art_tablet .tablet_text h5 {
        font-family: "Readex Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: black;
        text-align: center; }

.most_selled {
  padding: 0 0 74px;
  background: white; }
  .most_selled h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black;
    padding-bottom: 9px; }
  .most_selled .most_selled_text {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    padding-bottom: 55px;
    padding-bottom: 59px; }
  .most_selled .container_flex {
    display: flex;
    justify-content: space-between; }
  .most_selled article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .most_selled article img {
      padding-left: 28px; }
    .most_selled article .sell_tech {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: black;
      padding: 37px 0 9px;
      text-decoration: none; }
    .most_selled article:first-of-type p {
      padding-bottom: 25px; }
    .most_selled article p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4B4B4B;
      max-width: 261px;
      padding-bottom: 8px; }
    .most_selled article span {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: black; }

.best h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  padding-bottom: 9px; }
.best p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: black;
  padding-bottom: 55px; }
.best .container_flex {
  display: flex;
  justify-content: space-between; }
.best article {
  background: #F8F9FA;
  width: 413px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .best article h5 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    padding-bottom: 55px;
    padding-top: 41px;
    padding-bottom: 0; }
  .best article h4 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: black;
    padding-bottom: 44px; }
  .best article a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    border: 1px solid black;
    border-radius: 200px;
    padding: 14px 63px; }
  .best article img {
    padding-top: 44px; }

.ideas {
  padding: 75px 0; }
  .ideas h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black;
    padding-bottom: 9px; }
  .ideas p {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    padding-bottom: 55px; }
  .ideas .container_flex {
    display: flex;
    justify-content: space-between; }
  .ideas article {
    max-width: 600px;
    padding-top: 10px; }
    .ideas article h5 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: black;
      padding-bottom: 28px; }
  .ideas .see_all {
    text-align: center;
    padding-top: 73px; }
    .ideas .see_all a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
      text-align: center;
      text-decoration: none;
      color: black;
      padding-top: 73px; }
    .ideas .see_all img {
      position: relative;
      top: 5px; }

.looking_for {
  padding-bottom: 19px; }
  .looking_for h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black;
    padding-bottom: 9px;
    padding-bottom: 24px; }
  .looking_for form {
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    max-width: 650px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 21px 29px;
    display: flex;
    align-items: center; }
    .looking_for form img {
      position: relative;
      right: 15px; }
    .looking_for form label {
      display: none; }
    .looking_for form input {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: black;
      border: none;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      background: #F8F9FA; }
      .looking_for form input::placeholder {
        color: black; }
  .looking_for .key_words {
    padding: 30px 0 81px;
    max-width: 660px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .looking_for .key_words a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: black;
      background: #FFFFFF;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 12px 22px;
      margin-right: 7px;
      margin-top: 7px;
      text-decoration: none; }
  .looking_for article {
    background: #DCE5E2;
    border-radius: 16px;
    padding-bottom: 18px;
    max-width: 935px;
    margin: auto; }
    .looking_for article h4 {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: black;
      padding-bottom: 9px;
      padding: 47px 0 9px; }
    .looking_for article p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: black;
      padding-bottom: 14px; }
    .looking_for article img {
      display: block;
      margin: 0 auto;
      padding-bottom: 14px; }
    .looking_for article form {
      max-width: 400px;
      height: 50px;
      width: 100%;
      background: #DCE5E2;
      border: 1px solid black;
      margin-bottom: 40px; }
      .looking_for article form label {
        display: none; }
      .looking_for article form input {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: black;
        outline: none;
        background: #DCE5E2;
        width: 285px; }
      .looking_for article form button {
        background: black;
        border-radius: 0 200px 200px 0;
        width: 115px;
        height: 50px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF; }

footer {
  background: #F8F9FA;
  border-top: 1px solid #DCE5E2; }
  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 44px 0 78px; }
  footer p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-top: 18px; }
  footer .footer_menu {
    display: flex;
    align-items: flex-start; }
  footer ul {
    margin-right: 100px;
    list-style: none; }
    footer ul li {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: black;
      margin-bottom: 19px; }
      footer ul li a {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: black;
        margin-bottom: 14px;
        text-decoration: none; }
  footer .footer_end {
    max-width: 1350px;
    margin: auto;
    padding-bottom: 20px;
    border-top: 1px solid #DCE5E2; }
    footer .footer_end .footer_end_flex {
      max-width: 1294px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 52px; }
    footer .footer_end span {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: black; }
    footer .footer_end a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: black;
      text-decoration: none; }
      footer .footer_end a img {
        position: relative;
        top: 4px; }

* {
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 767px) {
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 60px;
    transition: all 0.3s ease-in-out; }

  #menu.overlay {
    visibility: visible;
    opacity: 95%;
    padding-top: 100px;
    background: grey;
    z-index: 5; }

  #menu ul li {
    list-style: none;
    text-align: center; }

  #menu a {
    color: black;
    display: block;
    font-size: 44px;
    margin-bottom: 70px;
    text-decoration: none;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-shadow: #D6D6D6 1px 0 10px; } }

/*# sourceMappingURL=style.css.map */
